.login-moovySpace {
  position: relative;
  bottom: 5vh;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  animation: flicker 8.5s infinite alternate;
  margin: auto;
}
#login-btn {
  cursor: pointer;
}

.modal__container {
  width: 500px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .modal__container {
    width: 80vw;
  }
}
